.localstack-data/
.terraform*
terraform.*

node_modules/*
uploads/*
.history/*

/**/*.zip
/**/*.xzx
/**/*.tar

src/lambda-video-processing/package/
src/lambda-video-processing/ffmpeg-layer/

src/infra/**/.terraform/
src/infra/**/.terraform.lock.hcl
src/infra/**/terraform.tfstate
